@font-face {
    font-family: "GOTHAM";
    src: url("res/font.ttf");
}

*{
    padding: 0;
    margin: 0;
    
    box-sizing: border-box;
    -webkit-user-select: none;
    
    font-family: "GOTHAM";
}


.wrap{
    
    overflow: hidden;
    
    width: 100%;


}
